/* resets the pages default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header */

/* Navigation Menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
}

.nav-link {
    display: inline-block;
    width: 200px;
    height: 55px;

    color: rgb(249, 247, 247);

    text-align: center;
    line-height: 55px;

    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

li {
    float: left;
}



h1 {

    text-align: center;

}

h2 {
    text-align: center;
}



p {
    padding: 8px;
    border-radius: 10px;
    text-align: center;
    width: "600";
    height: "450";
    background-color: rgb(12, 163, 238);
    font-size: 1.5rem;
}


.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* Styling for image */
.image-container img {
    max-width: 100%;
    height: auto;
    width: 50vw;
}


.text-container {
    width: 50vw;
    padding: 20px;
    font-size: 1.5rem;
}

/* Footer */
footer {
    width: 100%;
    height: 16.8%;

    position: relative;
    top: 0;
    left: 0;

    background-color: rgb(2, 0, 0);

    font-family: Arial, sans-serif;
}


#bottomlabel {
    position: relative;
}

#bottomlabel:hover {
    background-color: #111;
}

.footerlabels:hover {
    color: #e21710;
}

.footerlabels {
    display: inline;
    width: 20px;
    height: 10px;
    padding: 20px;

    border-color: antiquewhite;
    border-bottom: 10px;
    border-top: 10px;
    border-left: 10px;
    border-right: 10px;

    color: white;
    font-size: 30px;

    text-align: center;
    line-height: 55px;

    text-decoration: none;
}
