/* resets the pages default margin and padding */
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
}

.nav-link 
{ 
    display: inline-block;
    width: 200px;
    height: 55px;

    color: rgb(249, 247, 247);

    text-align: center;
    line-height: 55px;

    text-decoration: none;
}

li a:hover 
{
    background-color: #111;
}

li 
{
    float: left;
}


/* When you hover over the buttons it will change the the button color to #111 on hover */
li a:hover
{
    background-color: #111;
}

.active
{
    background-color: #aa0404;
}

.nav-link
{
    display: inline-block;
    width: 200px;
    height: 55px;

    color: rgb(249,247,247);

    text-align: center;
    line-height:  55px;

    text-decoration: none;
}


/* Body */
#h1
{ 
    text-align: center;
    position: relative;  
}



/* Css for Form */
.formel
{
    width: 45%;
}

.formel input,.formel textarea
{
    width: 100%; 
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
}

.formel textarea
{
    height: 200px;
}

button 
{
    background-color: #007BFF; 
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover 
{
    background-color: #0056b3;
}

.formbox 
{
    margin-top: 20px;
}

/* Footer */
footer
{
    width: 100%;
    height: 100%;

    position: relative;
    top: 0;
    left: 0;

    background-color: rgb(2, 0, 0);
   
    font-family: Arial, sans-serif;
}


#bottomlabel
{
    position : relative;
}

#bottomlabel:hover
{
    background-color: #111; 
}


.footerlabels 
{
    display: inline;
    width: 20px;
    height: 10px;
    padding: 20px;
    
    border-color: antiquewhite;
    border-bottom: 10px;
    border-top: 10px;
    border-left: 10px;
    border-right: 10px;

    color: white;
    font-size: 30px;

    text-align: center;
    line-height: 55px;

    text-decoration: none;
}